extends layout
block content
  .container
    .row
        .col-sm-12.col-md-12.col-md-offset-3.col-sm-offset-3.card.item-card.card-block
            h1 Checkout
            h4 Your Total: Ugx  #{total}
            #charge-error.alert.alert-danger(hidden)
                .if #{noError}
                    | #{errMsg}
            form#checkout-form(action='/checkout' method='post')
                .row
                    .col-xs-12
                        .form-group
                            label(for='name') Name
                            input#name.form-control(type='text' required='' name='name')
                    .col-xs-12
                        .form-group
                            label(for='address') Address
                            input#address.form-control(type='text' required='' name='address')
                    hr
                    .col-xs-12
                        .form-group
                            label(for='Paypal') Paypal
                             input.form-control(type='radio' required='')
                button.btn.btn-success(type='submit') Buy now
    script(type='text/javascript' src='https://js.stripe.com/v2/')
    script(type='text/javascript' src='javascripts/checkout.js')
