doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{title}
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet' href='/css/style.css')
    script(src="/js/checkout.js")
    script(src='https://widget.northeurope.cloudapp.azure.com:9443/v0.1.0/mobile-money-widget-mtn.js')
    link(rel="import", href="https://widget.northeurope.cloudapp.azure.com:9443/demo.html;")

    //Nav bar and its buttons and dropdowns
    nav.navbar.navbar-expand-lg.navbar-dark.text-light
        a.navbar-brand(href='/')
            img(src="../img/mars-logo.jpg" alt="Mars Sports logo")
            span  Mars Sports Ug
        #basicExampleNav.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/shopping-cart/') 
                        if session.cart
                            span.badge.badge-info #{session.cart.totalQty}
                        svg.bi.bi-cart4(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z')
                            br
                        span Shopping Cart
                        span.sr-only (current) &nbsp
                //MarsSportsUg users dropdown
                li.nav-item.dropdown
                    a#navbarDropdownMenuLink1.nav-link.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='true')
                        svg.bi.bi-person-badge(xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z')
                            path(d='M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z')
                        span User
                    .dropdown-menu.dropdown-primary(aria-labelledby='navbarDropdownMenuLink1')
                        if login 
                            a.dropdown-item(href='/user/profile') User profile
                            //- a.dropdown-item(href='/users/admin') Admin
                            //- a.dropdown-item(href='/login') Login
                            a.dropdown-item(href='/user/logout') Logout
                        else 
                            a.dropdown-item(href='/user/signin') Sign in
                            a.dropdown-item(href='/user/signup') Sign up
            // Links
            form.form-inline.search(action="/productList")
                .md-form.my-0
                    input.form-control.mr-sm-2(type='search' name='product_name' placeholder='Search for product' aria-label='Search')
                .md-form.my-0
                    button.btn.btn-primary.btn-block.btn-large(type='submit') search
    block content
block foot
    // Footer
    footer.page-footer.font-small.unique-color-dark.pt-4
        .container
            ul.list-unstyled.list-inline.text-center.py-2
                li.list-inline-item
                    h5.mb-1 The best gym equipment on your finger tips, nearly free!
                li.list-inline-item
                    a.btn.btn-outline-white.btn-rounded(href='www.gmail.com') Send us eedback on: MarssportsUg@gmail.com
                .footer-copyright.text-center.py-3
                    | Copyright &copy;
                    script.
                        document.write(new Date().getFullYear());
                    |  All rights reserved
                    i(aria-hidden='true')
                    |  by 
                    a(href='/' target='_blank') Mars Sports Ug
    script(src="/js/FOvalidation.js")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
